<!-- Show Homepage -->
@if (vistaAttiva === 'dashboard') {
  <header>
    <div class="profile-container">
      <button class="profile-btn" (click)="toggleMenu($event)">{{ iniziali }}</button>
      <div class="dropdown" [class.active]="menuAperto" (click)="$event.stopPropagation()">
        <a href="#" class="logout" (click)="logout($event)">🚪 Log out</a>
      </div>
    </div>
  </header>

  <main>
    <div class="hero">
      <h1>Ciao {{ utente.first_name }} {{ utente.last_name }}</h1>
    </div>

    <div class="cards-container">
      <!-- Change Page -->
      <div class="card" (click)="apriNuovaRichiesta()">
        <h2>Nuova richiesta</h2>
        <p>Avvia la compilazione di una nuova pratica, un modulo o una segnalazione.</p>
      </div>

      <div class="card" (click)="mostraMessaggio('Hai cliccato su Le mie richieste')">
        <h2>Le mie richieste</h2>
        <p>Controlla lo stato delle tue pratiche in corso e visualizza lo storico.</p>
      </div>
    </div>
  </main>
}
@else if (vistaAttiva === 'nuovaRichiesta') {
  <!-- Show Request Maker -->
  <app-new-request
    [utente]="utente"
    (onBack)="tornaAllaDashboard()">
  </app-new-request>
}